# **Procesamiento y filtrado de datos**

In [ ]:
import pandas as pd

# Lectura de datos

In [ ]:
file ='iris_.csv'
df = pd.read_csv(file)
df.sample(10)

     sepal_length sepal_width petal_length  petal_width     species
38            4.4         NaN          1.3          0.2      setosa
96            5.7         2.9          4.2          1.3  versicolor
149           5.9         3.0          5.1          1.8   virginica
110           6.5         3.2          5.1          2.0   virginica
42            4.4         3.2          1.3          0.2      setosa
103           6.3         2.9          5.6          1.8   virginica
67            5.8         2.7          4.1          1.0  versicolor
112           6.8         3.0          5.5          2.1   virginica
131           7.9         3.8          6.4          2.0   virginica
21            5.1         3.7          1.5          0.4      setosa

# Descripción del DataFrame

In [ ]:
df.describe()

       sepal_length  petal_width
count    148.000000   150.000000
mean       5.858108     1.199333
std        0.822723     0.762238
min        4.300000     0.100000
25%        5.100000     0.300000
50%        5.800000     1.300000
75%        6.400000     1.800000
max        7.900000     2.500000

# Tipos de datos

In [ ]:
df.dtypes

sepal_length    float64
sepal_width      object
petal_length     object
petal_width     float64
species          object
dtype: object

# Debería hacer solo un object pero hay 3, por tanto el conjunto de datos esta sucio, hay que limpiarlo

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  148 non-null    float64
 1   sepal_width   148 non-null    object
 2   petal_length  150 non-null    object
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(2), object(3)
memory usage: 6.0+ KB

# Limpia el dataframe en un segundo

In [ ]:
df2= df.dropna()
df2

     sepal_length sepal_width petal_length  petal_width    species
0             5.1         3.5          1.4          0.2     setosa
1             4.9         3.0          1.4          0.2     setosa
2             4.7         3.2          1.3          0.2     setosa
3             4.6         3.1          1.5          0.2     setosa
4             5.0         3.6          1.4          0.2     setosa
..            ...         ...          ...          ...        ...
145           6.7         3.0          5.2          2.3  virginica
146           6.3         2.5          5.0          1.9  virginica
147           6.5         3.0          5.2          2.0  virginica
148           6.2         3.4          5.4          2.3  virginica
149           5.9         3.0          5.1          1.8  virginica

[146 rows x 5 columns]

df.dropna

# Limpiar el dataframe original sin crear uno nuevo

In [ ]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  146 non-null    float64
 1   sepal_width   146 non-null    object
 2   petal_length  146 non-null    object
 3   petal_width   146 non-null    float64
 4   species       146 non-null    object
dtypes: float64(2), object(3)
memory usage: 6.8+ KB

# Anlasisis por columnas:

**3 formas de acceder a una columna**

In [ ]:
type(df.sepal_length )

pandas.core.series.Series

In [ ]:
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 146, dtype: float64

In [ ]:
df['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 146, dtype: float64

In [ ]:
df.loc[:, 'sepal_length']
#los : indican que se solicitan todos los renglones
#loc es para nombres

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 146, dtype: float64

In [ ]:
df.iloc[:, 0]
#iloc es para indices

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 146, dtype: float64

# Analizando a la columna sepal_width

In [ ]:
df['sepal_width']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 146, dtype: object

Uso de la funcion set()

In [ ]:
lucky_numbers = [7, 14 , 15, 3, 21, 20, 20, 13, 13]
set(lucky_numbers) # SEt  se puede interpretar como un conjunto

{3, 7, 13, 14, 15, 20, 21}

In [ ]:
lista= list(set(lucky_numbers)) # guardar el set en formato de lista en una variable
lista.sort() # ordena la lista
lista

[3, 7, 13, 14, 15, 20, 21]

In [ ]:
col = list(set(df['sepal_width']))
col.sort()
col

['-',
 '2.0',
 '2.2',
 '2.3',
 '2.4',
 '2.5',
 '2.6',
 '2.7',
 '2.8',
 '2.9',
 '3.0',
 '3.1',
 '3.2',
 '3.3',
 '3.4',
 '3.5',
 '3.6',
 '3.7',
 '3.8',
 '3.9',
 '4.0',
 '4.1',
 '4.2',
 '4.4',
 '_']

In [ ]:
no_numeros = []
colimnas = list(set(df['sepal_width']))
col.sort()
for i in col:
    try:
        float(i)
    except:
        no_numeros.append(i)
no_numeros

['-', '_']

Crea una función que acepte un Data Frame y que aplique un analisis similar al visto en clases en el que se muestre un resumen por columna

In [ ]:
file ='iris_.csv'
df = pd.read_csv(file)

lista_unicos = [df[col].unique().tolist() for col in df.columns]

# Mostrar la lista final
lista_unicos

[[5.1,
  4.9,
  4.7,
  4.6,
  5.0,
  5.4,
  nan,
  4.8,
  4.3,
  5.8,
  5.7,
  5.2,
  5.5,
  4.4,
  4.5,
  5.3,
  7.0,
  6.4,
  6.9,
  6.5,
  6.3,
  6.6,
  5.9,
  6.0,
  6.1,
  5.6,
  6.7,
  6.2,
  6.8,
  7.1,
  7.6,
  7.3,
  7.2,
  7.7,
  7.4,
  7.9],
 ['3.5',
  '3.0',
  '3.2',
  '3.1',
  '3.6',
  '3.9',
  '3.4',
  '2.9',
  '3.7',
  '4.0',
  '4.4',
  nan,
  '3.8',
  '3.3',
  '4.1',
  '4.2',
  '2.3',
  '2.8',
  '2.4',
  '2.7',
  '2.0',
  '2.2',
  '2.5',
  '2.6',
  '-',
  '_'],
 ['1.4',
  '1.3',
  '1.5',
  '1.7',
  '1.6',
  '1.1',
  '1.2',
  '1.0',
  '1.9',
  '4.7',
  '4.5',
  '4.9',
  '4.0',
  '4.6',
  '3.3',
  '3.9',
  '3.5',
  '4.2',
  '3.6',
  '4.4',
  '4.1',
  '4.8',
  '4.3',
  '5.0',
  '3.8',
  '3.7',
  '5.1',
  '?',
  'N/A.4',
  '3.0',
  '6.0',
  '5.9',
  '5.6',
  '5.8',
  '6.6',
  '6.3',
  '6.1',
  '5.3',
  '5.5',
  '6.7',
  '6.9',
  '5.7',
  '6.4',
  '5.4',
  '5.2'],
 [0.2,
  0.4,
  0.3,
  0.1,
  0.5,
  0.6,
  1.4,
  1.5,
  1.3,
  1.6,
  1.0,
  1.1,
  1.8,
  1.2,
  1.7,
  2.5,
  1.9,
  2.1,
  2.2,
  2.0,
  2.4,
  2.3],
 ['setosa', 'versicolor', 'virginica']]